.container {
    text-align: center;
}

h1 {
    font-weight: 700px;
}

a {
    display: block;
    padding: 0;
    margin: 10px auto;
    width: 150px;
    height: 60px;
    font-size: 22px;
    font-weight: 700;
    line-height: 60px;
    box-shadow: 0 10px 0 #000099;
    border-radius: 10px;
}
a:active {
    box-shadow: none;
    margin: 20px auto 0;
}