.container {
    text-align: center;
    background-color: #AAFFFf;
    margin: 100px;
}

h1 {
    font-weight: 700px;
    margin: 50px;
}

.btn {
    display: block;
    padding: 0;
    margin: 10px auto;
    width: 150px;
    height: 60px;
    font-size: 22px;
    font-weight: 700;
    line-height: 60px;
    box-shadow: 0 5px 0 #000099;
    border-radius: 10px;
    border-bottom: solid 4px #007bff;
    text-decoration: none;
}
.btn:active {
    box-shadow: none;
    transform: translateY(5px);
    border-bottom: none;
}